<div class="about">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>

  <form action="/animals/new" method="GET">
    <input type='submit' value="Add Animal">
  </form>

  <% if @user.animals_in_need.length != 0 %>
    <section class="your-animals">
      <h2>Animals Who Need Help</h2>
      <% @user.animals_in_need.each do |animal| %>
      <%= erb :'animals/_animal', { layout: false, locals: {:animal => animal }} %>
      <% end %>
    </section>
  <% end %>

  <section class="your-animals">
    <h2>Your Animals</h2>
    <% @user.animals.each do |animal| %>
    <%= erb :'animals/_animal', { layout: false, locals: {:animal => animal }} %>
    <% end %>
  </section>
  <section class="followed-animals">
    <h2>Animals You Follow</h2>
      <% @user.followed_animals.each do |animal| %>
      <%= erb :'animals/_animal', { layout: false, locals: {:animal => animal }} %>
      <% end %>
  </section>
</div>